<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%-title %></title>
  <link rel="stylesheet" href=./assets/style/style.css>
  <!-- 字體 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,700&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
</head>

<body>
 

  
    <%- contents %>
    <footer> 
      <div class="footernav">
        <div class="info-nav">
          <a href="">首頁</a>
          <a href="">系列鏡框</a>
          <a href="">門市據點</a>
          <a href="">部落格</a>
          <a href="">常見問題</a>
        </div>
        <ul class="social">
          <img src=".//assets/images/icon-fb.svg" alt="">
          <img src="./assets/images/icon-ig.svg" alt="">
          <img src="./assets/images/icon-line.svg" alt=""></li>
        </ul>
      </div>
      <ul class="mes">
        <li class="mesicon">
          <img src="./assets/images/icon-phone.svg" alt="">0800-000-000
        </li>
        <li class="mesicon">
          <img src="./assets/images/icon-mail.svg" alt="">glasses@business.com
        </li>
      </ul>   
    <ul class="Copyright">
      <li class="Copy">Copyright © 2020 Glasses.All rights reserved.</li>
      <ul class="store">
        <li class="storeli">隱私權政策</li>
        <li class="storeli">服務條款</li>
      </ul>
    </ul>
    </div>
    </footer>
</body>
</html>